<div class="mainBody">
  <div class="text-center">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" [trackBy]="trackByUid" style="text-align: left;">

        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> Start </th>
          <td mat-cell *matCellDef="let element"> {{element.data.start.toDate().toLocaleTimeString()}} </td>
        </ng-container>

        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef> End </th>
          <td mat-cell *matCellDef="let element"> {{element.data.end.toDate().toLocaleTimeString()}} </td>
        </ng-container>

        <ng-container matColumnDef="elapsed">
          <th mat-header-cell *matHeaderCellDef> Elapsed </th>
          <td mat-cell *matCellDef="let element"> {{element.data.elapsed.toDate().toLocaleTimeString()}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>